# ignore DS_Store files
.DS_Store

# ignore widgets for awesomewm
awesome/awesome-wm-widgets/*

# ignore plugin directories for fish
fish/fundle/*
fish/functions/fundle.fish
fish/projects/*
fish/fish_variables

# ignore fzf completions and keybindings setup
fzf/*

# ignore all gh cli files except for the config
gh/*
!gh/config.yml

# ignore hammerspoon non-config stuff
hammerspoon/Spoons/*

# ignore karabiner backups
karabiner/automatic_backups/*

# kitty files to ignore
kitty/current-theme.conf
kitty/kitty.conf.bak

# ignore all but keyd conf
keyd/app.log
keyd/app.lock

# ignore AppSupport/ dir for iTerm2
iTerm2/AppSupport/*

# ignore state.yml from lazygit
lazygit/state.yml

# ignore everything in the litecli folder except the config file
litecli/*
!litecli/config

# ignore userstate.toml from ncspot
ncspot/userstate.*

# neovim: ignore plugins & backups directories
nvim/lua/packer/packer_compiled.lua
nvim/plugged/*
nvim/backups/*
nvim/sessions/*
nvim/.netrwhist

# ignore ranger plugins
ranger/plugins/*

# ignore various folders for spicetify
spicetify/Backup/*
spicetify/CustomApps/*
spicetify/Extracted/*
spicetify/Themes/*

# ignore tmux plugins dir
tmux/*.log
tmux/plugins/*
!tmux/plugins/.gitkeep

# ignore compiled files for xmonad
xmonad/*.hi
xmonad/*.o

# ignore unnecssary zsh folders and files
zsh/plugins/*
!zsh/plugins/zsh-abbr
!zsh/plugins/zsh-completions
!zsh/plugins/zsh-syntax-highlighting
!zsh/plugins/.gitkeep
zsh/.zcompdump
zsh/zcompdump
zsh/.zhistory
zsh/.histfile
zsh/.zsh_history

# ignore emacs packages
emacs/*

# ignore gitk config
gitk

# ignore python cache for qtile
qtile/__pycache__

# vscodium
VSCodium
