# ignore widgets for awesomewm
awesome/awesome-wm-widgets

# ignore all gh cli files except for the config
gh/*
!gh/config.yml

# ignore AppSupport/ dir for iTerm2
iTerm2/AppSupport

# ignore state.yml from lazygit
lazygit/state.yml

# ignore userstate.toml from ncspot
ncspot/userstate.toml

# neovim: ignore plugins & backups directories
nvim/plugged
nvim/plugin
nvim/backups
nvim/.netrwhist

# ignore ranger plugins
ranger/plugins

# ignore various folders for spicetify
spicetify/Backup
spicetify/CustomApps
spicetify/Extracted

# ignore tmux plugins dir
tmux/plugins/*
!tmux/plugins/.gitkeep

# ignore compiled files for xmonad
xmonad/*.hi
xmonad/*.o

# ignore unnecssary zsh folders and files
zsh/plugins/*
!zsh/plugins/.gitkeep
zsh/.zcompdump
zsh/zcompdump
zsh/.zhistory
zsh/.zsh_history
