# vim:ft=dosini
# disable fetching dependencies from any directory on disk
allow-directory=none
# disable fetching dependencies from any file on disk or any tarball
allow-file=none
# disable fetching dependencies from any git repo
allow-git=none
# disable fetching dependencies from any remote url
allow-remote=none
# disable lifecycle, pre, and post scripts from automatically running
ignore-scripts=true
# only install packages that have been published for at least a week
min-release-age=7
