!! Colorscheme
! special
*.foreground:   #e0dfe1
*.background:   #27212e
*.cursorColor:  #e0dfe1

! black
*.color0:       #27212e
*.color8:       #46414c

! red
*.color1:       #b381c5
*.color9:       #ffe261

! green
*.color2:       #b4dce7
*.color10:      #716385

! yellow
*.color3:       #eb64b9
*.color11:      #eb64b9

! blue
*.color4:       #74dfc4
*.color12:      #74dfc4

! magenta
*.color5:       #b381c5
*.color13:      #b381c5

! cyan
*.color6:       #716385
*.color14:      #716385

! white
*.color7:       #e0dfe1
*.color15:      #ffffff

*.alpha:        0.95

*.font: xft:JetBrainsMono Nerd Font:style=Medium:size=14
*.boldFont: xft:JetBrainsMono Nerd Font:style=Bold:size=14
*.italicFont: xft:JetBrainsMono Nerd Font:style=Medium Italic:size=14
*.boldItalicfont: xft:JetBrainsMono Nerd Font:style=Bold Italic:size=14
*.letterSpace: 0

!! URxvt Appearance
! URxvt.letterSpace: 0
! URxvt.lineSpace: 4
! URxvt.internalBorder: 4
! URxvt.cursorBlink: false
! URxvt.cursorUnderline: false
! URxvt.saveline: 2048
! URxvt.scrollBar: false
! URxvt.scrollBar_right: false
! URxvt.urgentOnBell: true
! URxvt.depth: 24
! URxvt.iso14755: false
