snippet irr
import React from 'react';
$0
endsnippet

snippet irh
import { $1 } from 'react';
endsnippet

snippet irhs
import { useState } from 'react';
$0
endsnippet

snippet irhe
import { useEffect } from 'react';
$0
endsnippet

snippet irhd
import { useState, useEffect } from 'react';
$0
endsnippet

snippet rac
const $1 = ($2) => {
	return (
		$0
	)
}

export default $1;
endsnippet

snippet ric
const $1 = ($2) => ( $0 )

export default $1;
endsnippet

snippet cl
console.log($0);
endsnippet
