$gallery: #f0eff1;
$salmon: #f97e72;
$ecstasy: #f88414;
$orange-yellow: #f1d565;
$bermuda: #72f1b8;
$turquoise: #36f9f6;
$chetwode-blue: #6d77b3;
$pale-magenta: #f772e0;
$persian-rose: #f92aad;
$bright-lavender: #c792ea;
$mauve: #e1acff;
$meteorite: #4e3d69;
$tolopea: #312942;
$steel-gray: #2a2139;
$montana: #231b30;
$vulcan: #171521;
