[Desktop Entry]
Name=Beekeeper Studio
Exec=/home/smithbm/appimages/beekeeper-studio.AppImage
Icon=/usr/share/icons/Papirus-Dark/32x32/apps/beekeeper-studio.svg
Terminal=false
Type=Application
StartupNotify=false
