[Desktop Entry]
Name=Firefox Developer Edition
GenericName=Web Browser
Exec=/home/smithbm/.local/firefox-dev/firefox %u
Icon=/usr/share/icons/Papirus-Dark/32x32/apps/firefox-developer-edition.svg
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Internet
Keywords=web;browser;internet;
Actions=new-window;new-private-window;
StartupWMClass=Firefox Developer Edition

[Desktop Action new-window]
Name=Open a New Window
Exec=/home/smithbm/.local/firefox-dev/firefox %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/home/smithbm/.local/firefox-dev/firefox --private-window %u
