[Desktop Entry]
Name=ncspot
StartupWMClass=ncspot
GenericName=Music Player
Exec=kitty --single-instance --detach --class ncspot /home/smithbm/.local/bin/ncspot
Icon=/usr/share/icons/Papirus/32x32/apps/com.github.neithern.g4music
Type=Application
StartupNotify=true
Categories=Music
