[Desktop Entry]
Name=Obsidian
Exec=/home/smithbm/appimages/obsidian.AppImage
Icon=/usr/share/icons/Papirus-Dark/32x32/apps/obsidian.svg
Terminal=false
Type=Application
StartupNotify=true
MimeType=x-scheme-handler/obsidian;
