[Desktop Entry]
Name=Polypane
GenericName=Web Browser
Exec=/home/smithbm/appimages/polypane.AppImage
Icon=/usr/share/icons/Papirus-Dark/32x32/apps/org.midori_browser.Midori.svg
Terminal=false
Type=Application
StartupNotify=false
StartupNotify=true
Categories=Internet;Programming
Keywords=web;browser;internet;
